Babel==2.6.0
defusedxml==0.6.0
matplotlib==3.1.0
protobuf==3.7.1
records==0.5.3
requests==2.22.0
-e git+https://github.com/stanfordnlp/stanza@920c55d8eaa1e7105971059c66eb448a74c100d6#egg=stanza
tqdm==4.19.9
torch==0.4.1
torchvision==0.2.2
ujson==1.35
